:root {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --blueDark: #144272;
  --tw-translate-x: translateX(0px);
  --tw-translate-y: translateY(0px);
  --tw-rotate: rotate(0deg);
  --tw-skew-x: skewX(0deg);
  --tw-skew-y: skewY(0deg);
  --tw-scale-x: scaleX(0);
  --tw-scale-y: scaleY(0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  color: var(--textColor);
  border-top: none;
  border-bottom: none;
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

/* NAVBAR */
.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 0.1rem solid;
}

.container-navbar .navbar-social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.container-navbar .navbar-social a {
  width: 24px;
  height: 24px;
}

.container-navbar .navbar-logo {
  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.container-navbar .navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 20px;
}

/* SKILLS */
.skillset > h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.skillset .grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 5rem;
}

.skillset .grid .border {
  border: 1px solid;
  width: 100%;
  border-color: var(--textColor);
  padding: 1rem;
  position: relative;
}

.skillset .grid .border::before {
  content: '';
  width: 5px;
  height: 100%;
  background-color: var(--softBg);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s all;
}

.skillset .grid .border:hover::before {
  width: 100%;
}

.skillset .grid .border:hover h1,
.skillset .grid .border .title-point:hover ul {
  color: var(--textColor);
}

.skillset .grid .border h1 {
  font-size: 1.3rem;
  color: var(--softTextColor);
  margin-bottom: 0.3rem;
}

.skillset .grid .border .title-point {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.skillset .grid .border .title-point ul {
  color: var(--softTextColor);
  font-size: 1rem;
  list-style-type: none;
}

/* FOOTER */
footer {
  margin-top: 4rem;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  color: var(--softTextColor);
}

/* Breakpoint media querie */
/* PC */
@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

/* LAPTOP */
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }

  /* NAVBAR */
  .container-navbar .navbar-logo {
    font-size: 32px;
  }

  .container-navbar .navbar-links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

/* PHONE AND HP */
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
