:root {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --blueDark: #144272;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  color: var(--textColor);
  border: 1rem solid;
  border-color: var(--textColor);
  border-top: none;
  border-bottom: none;
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

/* NAVBAR */
.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 0.1rem solid;
}

.container-navbar .navbar-social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.container-navbar .navbar-social a {
  width: 24px;
  height: 24px;
}

.container-navbar .navbar-logo {
  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.container-navbar .navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 20px;
}

/* HERO SECTION */
.container-hero .hero {
  display: flex;
  margin-bottom: 5rem;
}

.container-hero .hero {
}

.container-hero .hero .hero-text {
  margin-top: 5rem;
}

.container-hero .hero .hero-text h1 {
  font-size: 45px;
}

.container-hero .hero .hero-text p {
  font-size: 25px;
}

.container-hero .hero .hero-img {
  margin-top: 2rem;
}

/* PROJECT */
.container-project h1 {
  font-size: 2.2rem;
  background-color: var(--softBg);
  padding: 1rem;
  margin-bottom: 1rem;
}

.container-project .project-row {
  display: flex;
  flex-wrap: wrap;
}

.container-project .project-row .project-card {
  background-color: var(--softBg);
  width: 100%;
  font-size: 1.1rem;
  flex: 1;
  box-shadow: none;
  position: relative;
  z-index: 1;
  margin: 12px;
  padding: 12px;
}

.container-project .project-row .project-card h4 {
  font-size: 25px;
}

.container-project .project-row .project-card p {
  margin-top: 2rem;
  font-size: 20px;
  color: var(--softTextColor);
}

.container-project .project-row .project-card span {
  display: inline-block;
  margin-top: 1rem;
  font-size: 15px;
  background-color: var(--bg);
  padding: 5px;
  color: var(--softTextColor);
}

.container-project .project-row .project-card::before {
  content: '';
  width: 5px;
  height: 100%;
  background-color: var(--textColor);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s all;
}

.container-project .project-row .project-card:hover::before {
  width: 100%;
}

.container-project .project-row .project-card:hover h4,
.container-project .project-row .project-card:hover p {
  color: var(--bg);
}
.container-project .project-row .project-card img {
  width: 100%;
}

/* FOOTER */
footer {
  margin-top: 4rem;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  color: var(--softTextColor);
}

/* Breakpoint media querie */
/* PC */
@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

/* LAPTOP */
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }

  /* NAVBAR */
  .container-navbar .navbar-logo {
    font-size: 32px;
  }

  .container-navbar .navbar-links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

/* PHONE AND HP */
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
